*{
    margin: 0PX;
    padding: 0PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: end;
    padding: 70px;

    

}

.menu li a {
  text-decoration: none; 
  color: white;
  
} 

.menu{
display: flex;
list-style: none;

}

.menu li{
margin: 10px;
}

.menu li a {
  text-decoration: none;
  
}

.menu a:hover  {
 color: blue;
 transition: 0.8s;
 
}




