*{
    margin: 0PX;
    padding: 0PX;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.header { /* é minha classe do header */
    background-color: cornflowerblue;
    display: flex;
    justify-content: end;
    padding: 70px;

    

}

.menu li a { /* é minha classe de listas */
  text-decoration: none; 
  color: white;
  
} 

.menu{
display: flex;
list-style: none;

}

.menu li{
margin: 10px;
}

.menu li a {
  text-decoration: none;
  
}

.menu a:hover  {
 color: blue;
 transition: 0.8s;
 
}

#sessao {

  padding: 15rem;
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,121,116,1) 35%, rgba(0,212,255,1) 100%);
}


#sessao h2{

  font-size: 1em;
  color: rgba rgba(0, 0, 0, 0.753);
}

#sessao{

  font-size:2.3em ;
  margin:20px 0 ;
}

#sessao button {
  padding: 25px;
  border-radius: 50px;
  border-color: aquamarine;
  width: 20em;
  cursor: pointer;
  margin-top: 5em;
 
}

#sessao button:hover {
  transition: 1s;
  color: white;
  background-color: black;
} 






#sessao button a {

  text-decoration: none;
  border-bottom: aquamarine;
}

 #app{

  padding: 15rem;
  background-color: rgba(172, 255, 47, 0.164);
  display: flex;
  justify-content: space-between;
 }
  

 #app div button {

  
  padding: 25px;
  border-radius: 50px;
  border-color:  aquamarine;
  width: 20em;
  cursor: pointer;

 }

 
 #app button:hover {
  transition: 1s;
  color: white;
  background-color: black;

 }

 #app button a {

  text-decoration: none;
  color: aquamarine;
 }

 #app div p{
  font-size: 2.8em;
  margin-bottom: 20px;
 }

#app div img {

  width:25rem;
  height:25rem ;
  margin-left:70px ;
  margin-top: -70px;
}
 
#container{

  padding: 15rem;
  background-color: rgb(226, 233,233);

}

#container h2 {
  font-size: 40px;
  text-align: center;
  color: blue;
  margin-top: -20rem;
  margin-bottom: 2rem;
}
  #container  p {

  font-size:1.4rem ;
  color: rgb(34, 34 , 74);
  margin-bottom: 40px;
  text-align: justify;
  }

    #container button{

      padding: 25px;
      border-radius: 50px;
      border-color: aquamarine;
      width: 20em;
      cursor: pointer;
      
    }

    #container button:hover {
      transition: 1s;
      color: white;
      background-color: black;
    } 
    
  
   #container button a{

   color: rgb(234, 234, 241);
   text-decoration: none;
   
   }

   
    .line{

      width: 70%;
      margin: 45px auto;
    }

    #container img{
    width: 45rem;
    margin-left: 50px;

    }

    #container-cofre {

      background: linear-gradient(180deg, #0c16a364 8.33%, rgba( 5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
      background-position: center;
      background-attachment: fixed;
      display: flex;
      align-items: center;
     justify-content: space-evenly;

    } 
    

   #container-cofre img {
   width: 20rem;
   height: auto;
   margin-top: 9rem;

   }


   #container-cofre h2{

    color: white;
    font-size: 30px;
    text-align: center;
   }


   #container-cofre p {
   color: white;
   font-size: 17px;
   text-align: center;
   margin-top: 2rem;
   margin-left: 1rem;
   font-weight: 800;

    }

   footer {
    padding: 3rem;
    background-color:grey ; 
    text-align: center;
    
    
 
   }
    
   footer div {
   display: flex;
   margin-top: 20px;
   justify-content: space-between;
   }

   footer div a{
    text-decoration: none;
    color: white;
   }

   footer div a:hover{
    color: purple;
    transition: 0.8s;
   }
   
  /*480x*/
  /*767*/
  /*991x*/
  /*1366x*/
  /*1920x*/
    
   
    
   @media screen and (max-width:1920px){      /*TELA MAIOR*/
    
   }

   @media screen and (max-width:480px){        /*TELA CELULAR*/
    
    
   }

   @media screen and (max-width:767px){       /*TELA TABLET*/
      
    #sessao {
      padding: 30vh;
    }
    
    #app {
     padding: 30vh;
    }


    #container {
    padding: 30vh;
    }


    #line {
      padding: 25vh;
    }

   }

   @media screen and(max-width:1366px){      /*TELA MAIOR*/



     } 




























   @media screen and (max-width:991px){


     #sessao a button {
     width: 14rem;
     padding: 0,9rem;
    } 

   #sessao p{
    font-size: 1.5rem;
    margin: 15px0;
   }
   
 
   #app div a button{
    width: 17rem;
    padding: 0.9rem;
   }

   #app{

    padding: 30vh;
    width: auto;
   }
   

   #app div img{

    width: 18rem;
    height: auto;
   }

   #conatiner{
    padding: 35vh;
   }


   #container h2{
margin-top: 1rem;
   }

   #container a button{
    width: 14rem;
    padding: 0.9rem;
    margin-left: 12rem;
  
   }


}
   
    
    

   
    
   

/* px é uamunidade de medida de tamanho fixo.*/

/*em ele trabalhaem relação ao tamanho de font do elemento pai */

/*rem - root em = ele vai depender do elemento pai de tudo (html) documento principal da pagina*/
 
/*html{ font- zise : 62,5%/* mais usual usar este parimetro para contagem*/
 
/* vh-wiewport height tamanho em relação a tela do usuario*/

/* vw -viewport width tamanho(largura) em relação da tela do ususrio*/


